.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 48px;
  border-radius: 60px;
  cursor: pointer;
  border: none;
}

.button:active {
  transform: scale(0.9);
}

.button:hover {
  box-shadow: 0px 0px 42px rgba(255, 255, 255, 0.5);
}

.light-button {
  composes: button;
  background: white;
}

.dark-button {
  composes: button;
  background: black;
  color: white;
}

@media (prefers-color-scheme: light) {
  .auto-button {
    composes: light-button;
  }
}

@media (prefers-color-scheme: dark) {
  .auto-button {
    composes: dark-button;
  }
}
