name: Post-merge Build and Publish
on:
  push:
    branches:
      - main
permissions:
  contents: write # Grant write permission to contents, enabling push access
  packages: write
jobs:
  BuildAndPublish:
    name: Build and Publish
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Check Out Files
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org/"
          scope: "@yourself_id"
          always-auth: true
      - name: NPM Registry Setup
        run: |
          npm set //registry.npmjs.org/:_authToken=$NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - name: Use Yarn Cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Root Dependencies
        run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - name: Install Package Dependencies
        run: yarn bootstrap
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - name: Run Unit Tests
        run: yarn test
      - name: Run builds
        run: yarn lerna exec yarn build
      - name: "Version and publish"
        env:
          HUSKY: 0
          GH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          yarn lerna publish --conventional-commits -m "chore(release): published by lerna" --yes
