name: Publish Canary Releases
on:
  pull_request:
    types: [opened, synchronize]
permissions:
  contents: write # Grant write permission to contents, enabling push access
  packages: write
jobs:
  publish-canary-releases:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --max_old_space_size=8192
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Use branch name
        id: use_branch_name
        uses: transferwise/sanitize-branch-name@v1
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://npm.pkg.github.com"
          scope: "@selfidhq"
          always-auth: true
      - name: Use Yarn Cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-node-modules-${{ hashFiles('**/yarn.lock') }}
      - name: Install Root Dependencies
        run: yarn install --frozen-lockfile
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
      - name: Run Unit Tests
        run: yarn test
      - name: Run builds
        run: yarn build
      - name: Publish canary release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor}}@users.noreply.github.com"
          yarn lerna publish \
            --canary \
            --exact \
            --dist-tag ${{ steps.use_branch_name.outputs.sanitized-branch-name }}  \
            --preid ${{ steps.use_branch_name.outputs.sanitized-branch-name }}  \
            --yes
